
<div class="container" ng-app="mainApp" ng-controller="LoginController">
    <h2>Here is the string list</h2>
    <ul>
        <li ng-repeat="record in records">
            {{record.fullname}}
        </li>
    </ul>
</div>