<!Doctype>
<html ng-app="mainApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Form Builder</title>
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script simpl-append-version="true" src="~/js/login.js"></script>
</head>
<body>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

</body>
</html>
